@tailwind base;
@tailwind components;
@tailwind utilities;

body {

 @apply bg-black text-white font-poppins 
}
html{
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.bg-image {
  @apply absolute inset-0 w-full h-full object-cover -z-10
}

.hero-section {
  @apply relative overflow-hidden h-screen;
}

.hero-content {
  @apply relative z-10 text-center pt-[640px];
}

.hero-content h1 {
  @apply text-[60px] font-bold;
}

.hero-content p {
  @apply mt-2 opacity-80;
}

.about-bg-img {
  @apply absolute inset-0 w-full h-full object-cover -z-10 opacity-10;
}

.hero-bg-img {

 @apply absolute inset-0 w-full h-full object-cover -z-10;
 
}
.button-style {
  @apply mt-6 bg-purple-600 px-6 py-2 rounded
}
.contact-section {
  @apply bg-black text-white py-24 px-6 text-center;
  font-family: 'Poppins', sans-serif;
}

.contact-title {
  @apply text-4xl md:text-4xl font-bold tracking-widest;
}

.common-line {
  @apply w-[220px] h-[2px] mt-3 mx-auto
         bg-gradient-to-r from-red-500 via-yellow-400 via-green-400 via-blue-500 to-purple-500;
}

.btn-primary {
  @apply px-6 py-2 rounded bg-primary text-white font-semibold tracking-wider
         transition duration-300 hover:bg-secondary;
}

.contact-form {
  @apply flex flex-col md:flex-row gap-6 mt-12 items-end justify-center;
}


.contact-field {
  @apply flex flex-col text-left w-full md:w-[240px];
}

.contact-field label {
  @apply text-xs mb-1 text-gray-400;
}

.contact-field input {
  @apply bg-transparent border border-gray-700 px-4 py-2 outline-none text-white;
  transition: all 0.3s ease;
}

.contact-btn {
  @apply px-8 py-2 text-sm font-semibold tracking-wider;
  background: linear-gradient(135deg, #9333ea, #7e22ce);
  height: 42px;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background: #0B0045
}

.contact-info {
  @apply flex flex-col md:flex-row justify-center gap-8 mt-12 text-sm text-gray-400;
}

.nav {
  @apply fixed top-0 left-0 right-0 z-50
         flex items-center justify-between 
         px-20 py-6 bg-black/40 backdrop-blur-md border-b border-white/10
         transition-all duration-300;
}

.nav-logo {
  @apply flex items-center gap-2 text-lg font-semibold;
}

.nav-logo-icon {
  @apply w-9 h-9 rounded-lg flex items-center justify-center text-white;
  background: #7e22ce;
}

.nav-links {
  @apply flex gap-8 list-none;
}

.nav-links a {
  @apply text-sm text-gray-300 font-medium px-4 py-2 transition duration-300;
}

.nav-links a:hover {
  @apply bg-purple-600 text-white;
}

.video-text-position {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

section {
  scroll-margin-top: 120px;
}

